.app {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.side-content {
  background-color: #75A47F;
  color: #FCFFE0;

  position: -webkit-sticky;
  position: sticky;
  top:0;
  align-self: flex-start;

  min-height: 100vh;
  border-right: 0.08rem solid black;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: #FCFFE0;
  color: #000000;

  flex:1;
}

.content {
  flex:1;
}